# version: '3.8'
name: 'nazar'
services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - monitoring
    restart: unless-stopped

  grafana:
      image: grafana/grafana:latest
      container_name: grafana
      ports:
        - "3000:3000"
      environment:
        - GF_SECURITY_ADMIN_PASSWORD=GF_SECURITY_ADMIN_PASSWORD
      volumes:
        - grafana-storage:/var/lib/grafana
      networks:
        - monitoring
      restart: unless-stopped

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro  # Only needed on Docker Desktop for Mac
    networks:
      - monitoring
    restart: unless-stopped

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    networks:
    - monitoring
    restart: unless-stopped
  
  # kafka:
  #   image: confluentinc/cp-kafka:latest
  #   container_name: kafka
  #   ports:
  #     - "9092:9092"
  #     - "9999:9999"  
  #   environment:
  #     KAFKA_BROKER_ID: 1
  #     KAFKA_PROCESS_ROLES: broker,controller
  #     KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
  #     KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
  #     KAFKA_JMX_PORT: 9999
  #     KAFKA_JMX_HOSTNAME: kafka
  #   networks:
  #     - monitoring
  #   restart: unless-stopped

  kafka-exporter:
    image: danielqsj/kafka-exporter 
    command: ["--kafka.server=kafka:9092"]
    ports:
      - 9308:9308 
    networks:
    - monitoring
    restart: unless-stopped 

  redis-exporter:
    image: oliver006/redis_exporter
    ports:
      - 9121:9121
    environment:
      REDIS_ADDR: "redis://${REDIS_HOST}:${REDIS_PORT}"
      REDIS_USER: REDIS_USERNAME
      REDIS_PASSWORD: REDIS_PASSWORD
    networks:
    - monitoring
    restart: unless-stopped
  
  # kafka-jmx-exporter:
  #   image: bitnami/jmx-exporter:latest
  #   command:
  #     - "--config.file=/etc/jmx-exporter/config.yml"
  #     - "--web.listen-address=:9404"
  #     - "--jmx.url=service:jmx:rmi:///jndi/rmi://kafka:9999/jmxrmi"
  #   volumes:
  #     - ./jmx-config.yml:/etc/jmx-exporter/config.yml
  #   ports:
  #     - "9404:9404"
  #   networks:
  #     - monitoring
  #   restart: unless-stopped


volumes:
  grafana-storage:
  kafka-data:

networks:
  monitoring:
    external: true
