global:
  scrape_interval: 15s  
  scrape_timeout: 10s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'kafka-exporter'
    static_configs:
      - targets: ['kafka-exporter:9308']

  - job_name: 'redis'
    static_configs:
      - targets: ['redis-exporter:9121']

  # - job_name: 'prom-client'
  #   static_configs:
  #     - targets: ['nazar-server:5500']

  - job_name: 'prom-client'
    static_configs:
      - targets: ['host.docker.internal:5500']




 
 
